@import "../globals/Globals";

.Description {
    display: grid;
    grid-template-rows: repeat(5, 1fr);
    font-family: $font_principal;

    .Div_Description_Title {
        font-size: 25px;
    }

    .Div_Description_Text {
        justify-self: center;
        align-self: center;
        font-size: 16px;
    }
}