.Resumen {
    display: grid;
    padding: 10%;
    grid-template-rows: 20% repeat(4, 1fr) 30%;
    font-family: $font_principal;
    color: $color_text_principal;

    .H1_Resumen_Title {
        justify-self: center;
        align-self: center;
    }

    .Span_Resumen_Item {
        font-size: 20px;
        align-self: center;

        i {
            font-size: 25px;
            padding-right: 5px;
        }

        .H5_Resumen_Item {
            text-align: center;
        }

        .Span_Resumen_Perks {
            padding-right: 5px;

            i {
                font-size: 15px;
            }
        }
    }
}