// Colors
$color_background: #F8F9F9;
$color_text_principal: #17202A;
$color_text_secondary: #959DA5;
$color_checks: #28B463;
$color_email: #A93226;
$color_icon: #6401CD;

// Screens
$screen_4k: 2560px;
$screen_laptop_l: 1440px;
$screen_laptop: 1024px;
$screen_tablet: 768px;
$screen_mobile_l: 425px;
$screen_mobile_m: 375px;
$screen_mobile_s: 320px;

// Fonts
@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');
$font_principal: 'Rubik', sans-serif;