@import "../globals/Globals";

.Div_Principal {
    display: grid;
    grid-template-rows: 10% 60% 30%;
    row-gap: 25px;
    margin: 30px 10% 0 10%;
    position: sticky;
    top: 0;
    height: 100vh;

    .Div_Navbar {
        display: grid;
        grid-template-rows: 100%;
        grid-template-columns: repeat(2, 1fr);

        .Div_Logo {
            background-color: rebeccapurple;
        }

        .Div_Modal {
            background-color: blue;
        }
    }

    .Div_Info_Resumen {
        display: grid;
        grid-template-rows: 100%;
        grid-template-columns: 75% 20%;
        column-gap: 5%;

        .Div_Info {
            background-color: yellow;
        }

        .Div_Resumen {
            background-color: aqua;
        }
    }

    .Div_Steps {
        display: grid;
        height: 150px;
        grid-template-rows: 100%;
        grid-template-columns: 100%;
        background-color: green;
    }
}