@import "../globals/Globals";

.Div_Principal {
    display: grid;
    grid-template-rows: 10% 60% 30%;
    row-gap: 25px;
    margin: 50px 10% 30px 10%;
    position: sticky;
    top: 0;
    height: 100vh;

    .Div_Navbar {
        display: grid;
        grid-template-rows: 100%;
        grid-template-columns: repeat(2, 1fr);

        .Div_Modal {
            display: grid;
            grid-template-columns: 100%;
            
            .I_Modal_Button {
                display: none;
                justify-self: flex-end;
                position: fixed;
                align-self: center;
                font-size: 25px;
                color: $color_background;
                background-color: rgba($color_text_principal, 0.8);
                padding: 10px 14px;
                border-radius: 50%;
                cursor: pointer;

                &:hover {
                    background-color: $color_text_principal;
                }

                @media (max-width: $screen_laptop_l) {
                    display: block;
                }
            }

        }
    }

    .Div_Info_Resumen {
        display: grid;
        grid-template-rows: 100%;
        grid-template-columns: 65% 30%;
        column-gap: 5%;

        .Div_Info {
            display: grid;
            grid-template-rows: 100%;
            border-radius: 10px;
            padding: 10%;
            box-shadow: rgba($color_text_secondary, 0.2) 0px 8px 24px;
            background-color: $color_background;

            @media (max-width: $screen_laptop_l) {
                padding: 5%;
            }
        }

        .Div_Resumen {
            display: grid;
            grid-template-rows: 100%;
            border-radius: 10px;
            box-shadow: rgba($color_text_secondary, 0.2) 0px 8px 24px;
            background-color: $color_background;

            @media (max-width: $screen_laptop_l) {
                display: none;
            }
        }

        @media (max-width: $screen_laptop_l) {
            grid-template-columns: 100%;
        }
    }

    .Div_Steps {
        display: grid;
        height: 150px;
        grid-template-rows: 100%;
        border-radius: 10px;
        grid-template-columns: 100%;
        box-shadow: rgba($color_text_secondary, 0.1) 0px 8px 24px;
        background-color: rgba($color_background, 0.5);
    }
}